* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* body {
    background-image: url(https://img1.hscicdn.com/image/upload/f_auto/lsci/db/PICTURES/CMS/275600/275679.jpg);
  
} */


#form1 {
    background-color: #cbc3c39c;
    width: 25vw;
    height: 75vh;
    margin-top: 100px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
}


.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.form-control {
    padding: 20px;
    border: 1px solid #f59f9f;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}


.error-message {
    margin-top: 5px;
    font-size: 15px;
    color: red;
}


#btn1 {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
     margin-top: -20px;
    

}
/* #h1{
    margin-left: 50px;
} */

#bb{
    color: rgb(0, 0, 255);
    cursor: pointer;
    font-size: 18px;
}

