
.Lavan1{
    max-width: 1200px;
    margin: auto;
}
.Lavan2{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    margin-left: -35px;
}
.footer {
    background-color: black;
    padding: 70px 0;
 
}
.lavan3{

    width: 25%;
    padding:0 15px ;

}
.lavan3 h3{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}
.lavan3 h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:#f40f0f;
    height: 2px;
    box-sizing: border-box;
    width: 50px;


}
.lavan3 ul li:not(:last-child){
     margin-bottom:10px;
}

.lavan3 ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;


}
.lavan3 ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

}
.lavan3 .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255, 255, 0.2);
    color: #ffffff;
    margin: 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
    

}
.lavan3 .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
    
}
