


#main6{
    width: 50%;
    height: 50vh;
margin-top: 65px;
 margin-left: 300px;
    display: flex;
    justify-content: center;
   
}

#child2{
  
   margin-top: 80px;

}
#h15{
    margin: 50px;
}